/*************************************************************************************************************
********************************************* GENERAL STYLES *************************************************
*************************************************************************************************************/
body, h1, h2, h3, h4, h5, h6{
    font-family: raleway, sans-serif;
    margin: 0;
    line-height: 1.4;
}
a{
    text-decoration: none;
    color: #333;
}
::selection{
    background: rgba(0, 0, 0, 0.5);
    color: #FFF;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(0, 0, 0, 0.3);
}
/*************************************************************************************************************
********************************************* HELPER CLASSES *************************************************
*************************************************************************************************************/
.container{
    width: 100%;
    margin: 0 auto;
}
.container-fluid{
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
}
.row{
    margin-left: -15px;
}
.clearfix:after,
.row:after{
    content: '';
    display: block;
    clear: both;
}
.row .col-12{
    float: left;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-11{
    float: left;
    width: 91.67%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-6{
    float: left;
    width: 50%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-20%{
    float: left;
    width: 20%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col20%{
    float: left;
    width: 20%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-80%{
    float: left;
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-4{
    float: left;
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-3{
    float: left;
    width: 25%;
    padding: 15px;
    box-sizing: border-box;
}
.row .col-1{
    float: left;
    width: 8.33%;
    padding: 15px;
    box-sizing: border-box;
}
.row [class*=col-]{
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.row.no-top-bottom-padding [class*=col-],
[class*=col-].no-top-bottom-padding{
    padding-bottom: 0;
    padding-top: 0;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.p-0{
    padding: 0;
}
.p-10{
    padding: 10px;
}
.p-20{
    padding: 20px;
}
.p-30{
    padding: 30px;
}
.p-40{
    padding: 40px;
}
.p-t-10{
    padding-top: 10px:important;
}
.p-b-10{
    padding-bottom: 10px;
}
.m-0{
    margin: 0;
}
.m-10{
    margin: 10px;
}
.m-20{
    margin: 20px;
}
.m-30{
    margin: 30px;
}
.m-40{
    margin: 40px;
}
.m-t-0{
    margin-top: 0;
}
.img-responsive{
    width: 100%;
}
/*************************************************************************************************************
********************************************* SIDEBAR CLASSES ************************************************
*************************************************************************************************************/
.sideBar{
    top: 0;
    left: 0;
    background-color: #FFF;
    position: fixed;
    height: 100%;
    width: 20%;
    padding-left: 0;
}
.sideBar img{
    padding-left: 15px;
}
.sideBar p{
    padding-left: 15px;
}
.sideBarAnimate{
    animation-duration: 0.6s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: leftBar;
}
@keyframes leftBar{
    0%{
        top: 0px;
        left: -200px;
    }
    50%{
        top: 0px;
    }
    100%{
        top: 0px;
    }
}
.imgProfile{
    width: 120px;
    height: 120px;
    padding: 2px;
}
.designImgProfile{
    border-radius: 30px;
}
.template{
    color: #757575;
    font-size: 15px;
    padding-left: 2px;
}
.pf{
    color: #333;
    font-size: 20px;
    padding-left: 2px;
    font-weight: 550;
}
.sideBar a{
    display: block;
    padding-left: 15px;
    padding-bottom: 10px;
    width: 95%;
    height: 20px;
    padding-top: 10px;
}
.sideBar a:hover{
    background-color: lightgray;
    color: #333;
}
.aPF{
    color: #009688;
}
.margin-right1{
    margin-right: 16px;
}
.margin-right2{
    margin-right: 20px;
}
.margin-right3{
    margin-right: 13px;
}
.social-icons{
    font-size: 18px;
}
.social-icons:hover{
    color: #999;
}
.social-icons-padding{
    padding-left: 15px;
    padding-top: 15px;
}
/*************************************************************************************************************
********************************* MY PORTFOLIO, ABOUT ME CLASSES *********************************************
*************************************************************************************************************/
.grey-section{
    margin-left: 20.7%;
    background-color: #f1f1f1;
    width: 79.2%;
}
.myPF h1{
    font-size: 36px;
    font-weight: bolder;
    margin-top: 0px;
    padding-bottom: 15px;
}
.myPF p{
    font-size: 15px;
    display: inline;
}
.filters a{
    padding-left: 15px;
    padding-right: 15px;
    background: #FFF;
    color: #333;
    padding-bottom: 10px;
    padding-top: 10px;
}
.filters a:hover{
    background-color: lightgray;
    color: #333;
}
.myPF .insideAll{
    background: #333;
    color: #fff;
    margin-left: 15px;
}
.dg{
    background-color: #CCC;
    width: 100%;
    height: 8px;
    margin-top: 23px;
}
.event{
    position: relative;
    line-height: 0;
}
.event img{
    width: 100%;
}
.event .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .4);
    top: 0;
    left: 0;
    display: none;
}
.event:hover .overlay{
    display: block;
}
.event-content{
    padding: 10px;
    background: #FFF;
    color: #333;
}
.Page{
    margin-top: 50px;
}
.Page a{
    background-color: #f1f1f1;
    color: #333;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.Page .one{
    background-color: #333;
    color: #FFF; 
}
.Page a:hover{
    background-color: #333;
    color: #FFF;    
}
.Page .one:hover{
    background-color: #CCC;
    color: #333;
}
.imgStyling{
    width: 100%;
    padding-top: 60px;
}
.aboutMe h4{
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.aboutMe .fw{
    font-weight: 400;
    margin-top: 40px;
    margin-bottom: 0;
}
.pb{
    padding: 10px;
    padding-left: 0;
}
.pbText p{
    color: dimgray;
    font-size: 15px;
}
.lg{
    height: 45px;
    width: 100%;
    background-color: #ccc;
    margin-top: 10px;
}
.dg1{
    height: 35px;
    width: 95%;
    background-color: #696969;
    padding-top: 10px;
}
.dg2{
    height: 35px;
    width: 85%;
    background-color: #696969;
    padding-top: 10px;
}
.dg3{
    height: 35px;
    width: 80%;
    background-color: #696969;
    padding-top: 10px;
}
.percentage{
    color: #fff;
    font-size: 16px;
}
.dr{
    background-color: #696969;
    color: #FFF;
    padding: 10px;
    margin-left: 15px;
}
.dr:hover{
    background-color: #CCC;
    color: #333;
}
/*************************************************************************************************************
********************************* HOW MUCH I CHARGE CLASSES **************************************************
*************************************************************************************************************/
.hmic{
    font-size: 20px;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 30px;
}
.box{
    background-color: #FFF;
    color: #333;
    padding-top: 0px;
}
.box .basic{
    padding: 10px 60px;
    background-color:#333;
    color: #FFF;
    font-size: 24px;
    padding-bottom: 32px;
    padding-top: 32px;
    
}
.box .pro{
    padding: 10px 60px;
    background-color: #009688;
    color: #FFF;
    font-size: 24px;
    padding-bottom: 32px;
    padding-top: 32px;
    
}
.box ul{
    padding-left: 0;
}
.box ul li{
    list-style: none;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.box .ptb-16{
    padding-bottom: 16px;
    padding-top: 16px;
}
.box .signUp{
    background: #009688;
    color: #FFF;
    padding: 12px 24px;
}
.box ul li:last-child{
    border: none;
    padding-bottom: 30px;
    padding-top: 30px;
}
.box .signUp:hover{
    background-color: #333;
    color: #fff;
}
.box{
    opacity: 0.60;
}
.box:hover{
    opacity: 1;
}
/*************************************************************************************************************
********************************* CONTACT ME CLASSES *********************************************************
*************************************************************************************************************/
.darkgrey-section{
    margin-left: 20.7%;
    background-color: #9e9e9e;
    width: 79.2%;
}
.darkgrey-section h4{
    font-size: 20px;
}
.tp{
    background-color: #616161;
    color: #FFF;
    height: 105px;
    line-height: 0px;
    margin-top: 40px;
}
.tp1{
    background-color: #009688;
    color: #fff;
    height: 105px;
    line-height: 0px;
    margin-top: 40px;
}
.largeIcon{
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 0;
}
.white-line{
    width: 100%;
    height: 1px;
    background-color: #FFF;
    margin-top: 185px;
    margin-bottom: 30px;
}
label{
    color: #333;
    margin-top: 10px;
    font-weight: 500;
}
.formInput{
    border: 1px solid #ccc;
    padding: 8px;
    display: block;
    width: 98.7%;
    margin-bottom: 15px;
}
.btnSend{
    background-color: #333;
    color: #FFF;
    padding: 10px;
}
.btnSend:hover{
    background-color: #CCC;
    color: #333;
}
.right-margin{
    margin-right: 15px;
}
/*************************************************************************************************************
********************************* FOOTER CLASSES *************************************************************
*************************************************************************************************************/
.black-section{
    margin-left: 20.7%;
    background-color: #616161;
    color: #FFF;
    width: 79.2%;
}
.black-section h3{
    font-weight: 400;
    font-size: 24px;
}
.black-section p{
    font-size: 15px;
}
.black-section strong{
    color: #000;
}
.black-section ul li{
    list-style: none;
}
.black-section img{
    max-width: 50px;
    max-height: 50px;
}
.black-section ul{
    padding-left: 10px;
}
.bp1{
    font-size: 18px;
    padding-left: 15px;
}
.bp1Content{
    font-size: 15px;
}
.white-line1{
    width: 100%;
    height: 1px;
    background-color: #FFF;
}
.black-section ul li:hover{
    cursor: pointer;
}
.pt{
    color: #333;
    background-color: #9e9e9e;
    margin-bottom: 16px;
    font-size: 12px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
.ptTravel{
    color: #FFF;
    background-color: #333;
    margin-bottom: 16px;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;  
}
/*************************************************************************************************************
********************************* LAST CLASSES ***************************************************************
*************************************************************************************************************/
.foot{
    margin-left: 20.7%;
    background-color: #333;
    color: #FFF;
    width: 79.2%;
}
.foot p{
    font-size: 15px;
}